<div>
  <div id="chatContainer">
    Your Name: <input [(ngModel)]="messenger" />
    Your Message: <input [(ngModel)]="messageText" />
    <button (click)="sendMessage()">Send</button>
    <div class="container" *ngFor="let item of messages.slice().reverse() ">
      <p>From: {{item.messenger}}</p>
      <h2>{{item.msg}}</h2>
      <span class="time-right">{{item.timeStamp}}</span>
    </div>
  </div>
</div>
<div class="jumbotron text-center">
  <button (click)="convertMessage()">Listen to your Message</button><br>
  <audio id="audio" controls>
    <source src="" type="audio/mpeg" id="sound"> 
  </audio><br>
</div>
